//<HEADER>====================================================================================================
.header {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }
  &__logo-link {
   img {
     width: 150px;
   }
  }
}
//</HEADER>====================================================================================================

