@use "sass:math";
//<MIXINS>===============================================================================================
@import "./base/mixins";
//</MIXINS>===============================================================================================

//<FONTS>===============================================================================================

//<Font files>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "libs/fonts";
//</Font files>=======================================================================================

//<DEFAULT FONT>==========================================================================================
$fontFamily: "Inter";
$fontSize: 16;
//</DEFAULT FONT>==========================================================================================

//</FONTS>=======================================================================================================

//<VARIABLES>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$headingColor: #0c1636;
$textColor: #76777d;
$primaryColor: #5375bc;
$whiteColor: #fafafa;
$blueGreyColor: #f1f7ff;



//</VARIABLES>===========================================================================================================

//<Icons>==========================================================================================
@import "icons";
//</Icons>==========================================================================================

//<CLEAN STYLES & COMMON PARAMS>===============================================================================================
@import "./clean-style/null";
html {
	font-size: 10px;
}
body {
	color: $textColor;
	font-size: $fontSize + px;
	line-height: 1.5;
	background-color: #fff;
	&._lock {
		overflow: hidden;
	}
}
//</CLEAN STYLES & COMMON PARAMS>===============================================================================================

//<WRAPPER>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</WRAPPER>===========================================================================================================

//<SECTION>===========================================================================================================
section {
	margin-bottom: 12rem;
	@media (max-width: $md3+px)  {
		margin-bottom: 7rem;
	}
}
//</SECTION>===========================================================================================================

//<CONTAINER>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: $md3+px) {
		padding: 0 30px;
	}
}
//</CONTAINER>===========================================================================================================

//<UI STYLES, FORMS, BUTTONS & OTHER STYLES>====================================================================================================
@import "./base/forms";
@import "./base/ui";
@import "./base/buttons";
@import "./base/text";
@import "./base/img";
@import "./base/section-with-bg";
@import "./base/tabs";
//</UI STYLES, FORMS, BUTTONS & OTHER STYLES>====================================================================================================

//<PAGE & ELEMENTS STYLES>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "./parts/popup";
@import "./parts/header";
@import "./parts/footer";
@import "./parts/menu";
@import "./parts/intro";
@import "./parts/services";
@import "parts/dev-time";
@import "./parts/portfolio";
@import "./parts/stat";
@import "parts/dev-numbers";
@import "parts/industries";
//</PAGE & ELEMENTS STYLES>====================================================================================================

//<MAIN SECTION>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</MAIN SECTION>====================================================================================================
