.title {
  color: $headingColor;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 4rem;
  &--white {
    color: $whiteColor;
  }
}

.text {
  color: $textColor;
  &--white {
    color: #eaeaea;
  }
}